<nav>
    <div class="site-title">

        <a href="/"><h1>2nd Unit</h1></a>
        <p>Outsourcing media</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/register">Sign Up</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>