<nav>
    <div class="logo">

        <a href="/"><img src="../images/logo.jpg" alt="scribblenotes logo" class="logo"></a>
        <a href="/"><h1></h1></a>
        <p></p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/register">Sign Up</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/settings">Settings</a></li>
        <li><a href="/admin">Admin</a></li>
        <button onclick="window.location.href='/new_note'" class="new-note-btn"> New Note</button>
        <br>
        <button onclick="window.location.href='/new_note'" class="new-campaign-btn"> New Campaign</button>
        <br><br><br>
        <li><a href="/logout">Logout</a></li>
        <!-- <li><a href="/about">About</a></li> -->
        <!-- <li><a href="/contact">Contact</a></li> -->
    </ul>
</nav>


