<html>

    <%- include('./partials/head.ejs'); %>

<body>

    <%- include('./partials/nav.ejs'); %>



    <div class="card" style="width: 18rem;">
        <!-- <img src="./images/cartoon.jpg" class="card-img-top" alt=""> -->
        <div class="card-body">
          <h1 class="card-title">404</h1>
          <p class="card-text">Oops! Page not found</p>
          <a href="/" class="btn btn-primary">Go Home</a>
        </div>
      </div>

      
  
      



</body>

    <%- include('./partials/footer.ejs'); %>

</html>