<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/head.ejs');  %>
        <title>Admin Dashboard</title>
    </head>
    <body>
        <%- include('./partials/nav.ejs');  %>
        <!--Track Note Order Status-->
        <div class="content">
            <h1 style="text-align: center;">Track Note Order Status</h1>
            <br>
            <!--settings page-->
            <div class="settings-page">
                <div class="settings-container">
                    <div class="settings-item">
                        <h3>Track Note Order Status</h3>
                        <form action="#" method="POST">
                            <input type="text" name="order_id" placeholder="Order ID">
                            <input type="submit" value="Track Order">
                        </form>
                            <!--display order-->
                            <div class="order-status">
                                <p>note from developer: if a CSV file fails to download, create a new note and download that. 
                                    <br> A file may fail to download due to the nature of the development process, but this will not be a problem in production
                                </p>

                            <!-- iterate through array of cards to be rendered, and render, passing through information from array -->
                            <% noteCardInformation.forEach(element => { %>
                                <% if (element) { %>
                                    <%- include('./partials/admin/note_card.ejs', { 
                                        note_id: element.note_id, 
                                        user_id: element.user_id, 
                                        username: element.username, 
                                        email: element.email, 
                                        filename: element.filename, 
                                        status: element.note_status,
                                            }) %>
                                <% } %>
                            <% }) %>
                    </div>
                </div>
            </div>
            
    </body>
    <%- include('./partials/footer.ejs');  %>
</html>