<html>

    <%- include('./partials/head.ejs'); %>

<body>

    <%- include('./partials/nav.ejs'); %>

<h1>Welcome </h1>

    <div class="centre">
        <a href="/new_note">New Note</a>
    </div>
      
  
      



</body>

    <%- include('./partials/footer.ejs'); %>

</html>