<html>

    <%- include('./partials/head.ejs'); %>

<body>

    <%- include('./partials/nav.ejs'); %>

<h1>Welcome!</h1>

    <div class="card" style="width: 18rem;">
        <img src="./images/cartoon.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      
  
      



</body>

    <%- include('./partials/footer.ejs'); %>

</html>