<html>

    <%- include('./partials/head.ejs'); %>

<body>

    <%- include('./partials/nav.ejs'); %>

<h1>Welcome </h1>

    <a href="/new_note">New Note</a>

      
  
      



</body>

    <%- include('./partials/footer.ejs'); %>

</html>