<html>

    <%- include('./partials/head.ejs'); %>

<body>

    <%- include('./partials/nav.ejs'); %>


  <div class="form">
    <form class="regform" action="/user/login" method="POST">
        
      <h6 class="centre">scribblenotes.io</h6>   
      <br>
      <h5 class="centre">Login to Scribble Notes</h5>
      <br>
      <p class="centre form-label">Enter you email and password below</p>
      <br>
        <div class="mb-3">
          <label for="email" class="form-label">EMAIL</label>
          <input type="email" class="form-control" id="email" name="email">
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">PASSWORD</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>
        
        <button type="submit" class="btn">Log In</button>
        <br>
        <p class="centre form-label">Don't have account? 
          <a href="/register">Sign up </a></p>
        <br>

        <br>

        <%- include ('./partials/messages.ejs'); %>

      </form>
    </div>
    

      


</body>

    <%- include('./partials/footer.ejs'); %>

</html>