<html>

    <%- include('./partials/head.ejs'); %>

<body>

    <%- include('./partials/nav.ejs'); %>


  <div class="form">
    <form class="regform" action="/user/register" method="POST">


      <h6 class="centre">scribblenotes.io</h6>   
      <br>
      <h5 class="centre">Sign up to Scribble</h5>
      <br>
      <p class="centre form-label">Enter you email and password below</p>
      <br>


        <div class="mb-3">
            <label for="username" class="form-label">USERNAME</label>
            <input type="text" class="form-control" id="username" name="username">
          </div>
          
        <div class="mb-3">
          <label for="email" class="form-label">EMAIL ADDRESS</label>
          <input type="email" class="form-control" id="email" name="email">
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">PASSWORD</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>

        <div class="mb-3">
            <label for="password2" class="form-label">CONFIRM PASSWORD</label>
            <input type="password" class="form-control" id="password2" name="password2">
          </div>
        
        <button type="submit" class="btn ">Register</button>
        <br>
        <p class="centre form-label">Already have account? 
          <a href="/login">Log In </a></p>
        <br>

        <br>
        <%- include ('./partials/messages.ejs'); %>
        

      </form>
    </div>
    
      


</body>

    <%- include('./partials/footer.ejs'); %>

</html>