<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../css/card.css">
    </head>
    <body>
        <div class='card'>
            <p> 
                Note id: <%- note_id %>
                <br>
                Note Status: <%- status %>
                <br> 
                <a href="/admin/download/<%= filename %>">Download CSV</a>
                <br>
            </p>
        </div>
    </body>
</html>