body {
    background-color: #E5E5E5;
}

/* nav {
    background-color: #005030;
    color: white;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
} */

nav {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #005030;
    overflow-x: hidden;
    padding-top: 20px;
  }

.logo{
    padding: auto;
    margin: auto;
    width: 60%;
    height: auto;
}

nav ul {
    z-index: 1;
    position: absolute;
    /* display: flex; */
    justify-content: space-around;
    align-items: center ;
}

nav li {
    list-style: none;
}

nav li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;

}

nav li a:hover {
    color: black;
    text-decoration: none;

}

.regform {
    width: 30%;
    margin: auto;
    background-color:white;
    margin-top: 50px;
    padding: 5%;
    align-items: center;
    z-index: 1;
    border-radius: 2.5%;
}

.btn {
    background-color: #027931;
    border-color: #027931;
    margin: auto;
    width: 100%;
    color: white;
    box-shadow: 0px 5px 15px grey;
    border-radius: 2.5%;
}

.btn:hover{
    /* background-color: #F24913;
    border-color: #F24913; */
    box-shadow: 0px 2px 5px black;
    color: white;
}



.form-label{
    color: #9FA2B4;
    /* font-family: mulish; */
}



/* custom classes */

.centre {
    text-align: center;
}



.container {
    margin-top: 10%;
    width: 40%;
    height: 60%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-color: white;
}


.new-note-btn{
    background-color: #027931;
    border-color: #027931;
    margin: auto;
    width: 100%;
    color: white;
    box-shadow: 0px 5px 15px grey;
    border-radius: 2.5%;
}

.new-note-btn:hover{
    /* background-color: #F24913;
    border-color: #F24913; */
    box-shadow: 0px 2px 5px black;
    color: white;
}

.content {
    margin-top: 10%;
    width: 40%;
    height: 60%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: auto;
}

.new-campaign-btn{
    background-color: #F24913;
    border-color: #F24913;
    margin: auto;
    width: 100%;
    color: white;
    box-shadow: 0px 5px 15px grey;
    border-radius: 2.5%;
}

.new-campaign-btn:hover{
    /* background-color: #F24913;
    border-color: #F24913; */
    box-shadow: 0px 2px 5px black;
    color: white;
}


.title{
    text-align: center;
    padding: 5%;
}

.text{
    text-align: center;
}





.custom-file-upload {
    background-color: #9FA2B4;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}