body {
    background-color: #F5F6F8    ;
}

/* nav {
    background-color: #005030;
    color: white;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
} */


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    
nav {
  height: 100%;
  width: 256px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #005030;
  overflow-x: hidden;
  padding-top: 20px;
}

.logo{
  padding: auto;
  margin: auto;
  width: 60%;
  height: auto;
}

nav ul {
  z-index: 1;
  position: absolute;
  /* display: flex; */
  justify-content: space-around;
  
}

nav li {
  list-style: none;
}

nav li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 8px;
  text-align: center;

}

nav li a:hover {
  color: black;
  text-decoration: none;

}

.regform {
  width: 380px;
  margin: auto;
  background-color:white;
  margin-top: 50px;
  padding: 35;
  align-items: center;
  z-index: 1;
  border-radius: 2.5%;
}

.btn {
  background-color: #027931;
  border-color: #027931;
  margin: 1%;
  margin-bottom: 10px;
  width: 100%;
  height: 48px;
  color: white;
  box-shadow: 0px 4px 12px #c9c9cb;
  border-radius: 10;

}

.btn:hover{
  /* background-color: #F24913;
  border-color: #F24913; */
  box-shadow: 0px 2px 5px black;
  color: white;
}

.mb-3{
position: center;
}
.form {
margin-left: 256px;
margin-top: 150px;
}

.form-label{
  color: #9FA2B4;
  font-size: 14px;
  /* font-family: mulish; */
}

.form-control{
width: 316px;
height: 42px;
background: #F0F1F7;
}

/* custom classes */

.centre {
  text-align: center;
}



.container {
  margin-top: 10%;
  width: 40%;
  height: 60%;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  background-color: white;
}

.new-note-btn{
  background-color: #21B499;
  margin: auto;
  margin-inline: 20px;
  width: 160px;
  height: 42px;
  color: #FCFDFE;
  box-shadow: 0px 4px 10px rgba(16, 156, 241, 0.24);
  border-radius: 4px;
}

.new-note-btn:hover{
  /* background-color: #F24913;
  border-color: #F24913; */
  box-shadow: 0px 2px 5px black;
  color: white;
}

.content {
  width: 90%;
  margin: auto;
  background:white;
  margin-top: 20px;
  padding: 35px;
  align-items: center;
  z-index: 1;
  border-radius: 15px;
}

.content-data {
  width: 100%;
  margin: auto;
  background-color:white;
  margin-top: 20px;
  padding: 10px;
  align-items: center;
  z-index: 1;
  border-radius: 2.5%;
}

.new-campaign-btn{
  background-color: #F24913;
  margin: auto;
  margin-inline: 20px;
  width: 160px;
  height: 42px;
  color: #FCFDFE;
  box-shadow: 0px 4px 10px rgba(16, 156, 241, 0.24);
  border-radius: 4px;
}

.new-campaign-btn:hover{
  /* background-color: #F24913;
  border-color: #F24913; */
  box-shadow: 0px 2px 5px black;
  color: white;
}


.title{
  text-align: left;
  padding: 1%;
}

.text{
  text-align: center;
}

.custom-file-upload {
  background-color: #9FA2B4;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.card{
height: auto;
width: auto;
background: #FFFFFF;
box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
border-radius: 4px;
  
}
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {

  
    
    nav {
      height: 100%;
      width: 256px;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #005030;
      overflow-x: hidden;
      padding-top: 20px;
    }
    
    .logo{
      padding: auto;
      margin: auto;
      width: 60%;
      height: auto;
    }
    
    nav ul {
      z-index: 1;
      position: absolute;
      /* display: flex; */
      justify-content: space-around;
      
    }
    
    nav li {
      list-style: none;
    }
    
    nav li a {
      color: white;
      text-decoration: none;
      font-weight: bold;
      padding: 5px 8px;
      text-align: center;
    
    }
    
    nav li a:hover {
      color: black;
      text-decoration: none;
    
    }
    
    .regform {
      width: 380px;
      margin: auto;
      background-color:white;
      margin-top: 50px;
      padding: 35;
      align-items: center;
      z-index: 1;
      border-radius: 2.5%;
    }
    
    .btn {
      background-color: #027931;
      border-color: #027931;
      margin: 1%;
      margin-bottom: 10px;
      width: 100%;
      height: 48px;
      color: white;
      box-shadow: 0px 4px 12px #c9c9cb;
      border-radius: 10;
    
    }
    
    .btn:hover{
      /* background-color: #F24913;
      border-color: #F24913; */
      box-shadow: 0px 2px 5px black;
      color: white;
    }
    
    .mb-3{
    position: center;
    }
    .form {
    margin-left: 256px;
    margin-top: 150px;
    }
    
    .form-label{
      color: #9FA2B4;
      font-size: 14px;
      /* font-family: mulish; */
    }
    
    .form-control{
    width: 316px;
    height: 42px;
    background: #F0F1F7;
    }
    
    /* custom classes */
    
    .centre {
      text-align: center;
    }
    
    
    
    .container {
      margin-top: 10%;
      width: 40%;
      height: 60%;
      /* display: flex; */
      justify-content: center;
      align-items: center;
      background-color: white;
    }
    
    .new-note-btn{
      background-color: #21B499;
      margin: auto;
      margin-inline: 20px;
      width: 160px;
      height: 42px;
      color: #FCFDFE;
      box-shadow: 0px 4px 10px rgba(16, 156, 241, 0.24);
      border-radius: 4px;
    }
    
    .new-note-btn:hover{
      /* background-color: #F24913;
      border-color: #F24913; */
      box-shadow: 0px 2px 5px black;
      color: white;
    }
    
    .content {
      width: 90%;
      margin: auto;
      background:white;
      margin-top: 20px;
      padding: 35px;
      align-items: center;
      z-index: 1;
      border-radius: 15px;
    }
    
    .content-data {
      width: 100%;
      margin: auto;
      background-color:white;
      margin-top: 20px;
      padding: 10px;
      align-items: center;
      z-index: 1;
      border-radius: 2.5%;
    }
    
    .new-campaign-btn{
      background-color: #F24913;
      margin: auto;
      margin-inline: 20px;
      width: 160px;
      height: 42px;
      color: #FCFDFE;
      box-shadow: 0px 4px 10px rgba(16, 156, 241, 0.24);
      border-radius: 4px;
    }
    
    .new-campaign-btn:hover{
      /* background-color: #F24913;
      border-color: #F24913; */
      box-shadow: 0px 2px 5px black;
      color: white;
    }
    
    
    .title{
      text-align: left;
      padding: 1%;
    }
    
    .text{
      text-align: center;
    }
    
    .custom-file-upload {
      background-color: #9FA2B4;
      border: 1px solid #ccc;
      display: inline-block;
      padding: 6px 12px;
      cursor: pointer;
    }
    
    .footer{
      
    }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    

  
    
    nav {
      height: 100%;
      width: 256px;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #005030;
      overflow-x: hidden;
      padding-top: 20px;
    }
    
    .logo{
      padding: auto;
      margin: auto;
      width: 60%;
      height: auto;
    }
    
    nav ul {
      z-index: 1;
      position: absolute;
      /* display: flex; */
      justify-content: space-around;
      
    }
    
    nav li {
      list-style: none;
    }
    
    nav li a {
      color: white;
      text-decoration: none;
      font-weight: bold;
      padding: 5px 8px;
      text-align: center;
    
    }
    
    nav li a:hover {
      color: black;
      text-decoration: none;
    
    }
    
    .regform {
      width: 380px;
      margin: auto;
      background-color:white;
      margin-top: 50px;
      padding: 35;
      align-items: center;
      z-index: 1;
      border-radius: 2.5%;
    }
    
    .btn {
      background-color: #027931;
      border-color: #027931;
      margin: 1%;
      margin-bottom: 10px;
      width: 100%;
      height: 48px;
      color: white;
      box-shadow: 0px 4px 12px #c9c9cb;
      border-radius: 10;
    
    }
    
    .btn:hover{
      /* background-color: #F24913;
      border-color: #F24913; */
      box-shadow: 0px 2px 5px black;
      color: white;
    }
    
    .mb-3{
    position: center;
    }
    .form {
    margin-left: 256px;
    margin-top: 150px;
    }
    
    .form-label{
      color: #9FA2B4;
      font-size: 14px;
      /* font-family: mulish; */
    }
    
    .form-control{
    width: 316px;
    height: 42px;
    background: #F0F1F7;
    }
    
    /* custom classes */
    
    .centre {
      text-align: center;
    }
    
    
    
    .container {
      margin-top: 10%;
      width: 40%;
      height: 60%;
      /* display: flex; */
      justify-content: center;
      align-items: center;
      background-color: white;
    }
    
    .new-note-btn{
      background-color: #21B499;
      margin: auto;
      margin-inline: 20px;
      width: 160px;
      height: 42px;
      color: #FCFDFE;
      box-shadow: 0px 4px 10px rgba(16, 156, 241, 0.24);
      border-radius: 4px;
    }
    
    .new-note-btn:hover{
      /* background-color: #F24913;
      border-color: #F24913; */
      box-shadow: 0px 2px 5px black;
      color: white;
    }
    
    .content {
      width: 90%;
      margin: auto;
      background:white;
      margin-top: 20px;
      padding: 35px;
      align-items: center;
      z-index: 1;
      border-radius: 15px;
    }
    
    .content-data {
      width: 100%;
      margin: auto;
      background-color:white;
      margin-top: 20px;
      padding: 10px;
      align-items: center;
      z-index: 1;
      border-radius: 2.5%;
    }
    
    .new-campaign-btn{
      background-color: #F24913;
      margin: auto;
      margin-inline: 20px;
      width: 160px;
      height: 42px;
      color: #FCFDFE;
      box-shadow: 0px 4px 10px rgba(16, 156, 241, 0.24);
      border-radius: 4px;
    }
    
    .new-campaign-btn:hover{
      /* background-color: #F24913;
      border-color: #F24913; */
      box-shadow: 0px 2px 5px black;
      color: white;
    }
    
    
    .title{
      text-align: left;
      padding: 1%;
    }
    
    .text{
      text-align: center;
    }
    
    .custom-file-upload {
      background-color: #9FA2B4;
      border: 1px solid #ccc;
      display: inline-block;
      padding: 6px 12px;
      cursor: pointer;
    }
    
    .footer{
      
    }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {

  
    
    nav {
      height: 100%;
      width: 256px;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #005030;
      overflow-x: hidden;
      padding-top: 20px;
    }
    
    .logo{
      padding: auto;
      margin: auto;
      width: 60%;
      height: auto;
    }
    
    nav ul {
      z-index: 1;
      position: absolute;
      /* display: flex; */
      justify-content: space-around;
      
    }
    
    nav li {
      list-style: none;
    }
    
    nav li a {
      color: white;
      text-decoration: none;
      font-weight: bold;
      padding: 5px 8px;
      text-align: center;
    
    }
    
    nav li a:hover {
      color: black;
      text-decoration: none;
    
    }
    
    .regform {
      width: 380px;
      margin: auto;
      background-color:white;
      margin-top: 50px;
      padding: 35;
      align-items: center;
      z-index: 1;
      border-radius: 2.5%;
    }
    
    .btn {
      background-color: #027931;
      border-color: #027931;
      margin: 1%;
      margin-bottom: 10px;
      width: 100%;
      height: 48px;
      color: white;
      box-shadow: 0px 4px 12px #c9c9cb;
      border-radius: 10;
    
    }
    
    .btn:hover{
      /* background-color: #F24913;
      border-color: #F24913; */
      box-shadow: 0px 2px 5px black;
      color: white;
    }
    
    .mb-3{
    position: center;
    }
    .form {
    margin-left: 256px;
    margin-top: 150px;
    }
    
    .form-label{
      color: #9FA2B4;
      font-size: 14px;
      /* font-family: mulish; */
    }
    
    .form-control{
    width: 316px;
    height: 42px;
    background: #F0F1F7;
    }
    
    /* custom classes */
    
    .centre {
      text-align: center;
    }
    
    
    
    .container {
      margin-top: 10%;
      width: 40%;
      height: 60%;
      /* display: flex; */
      justify-content: center;
      align-items: center;
      background-color: white;
    }
    
    .new-note-btn{
      background-color: #21B499;
      margin: auto;
      margin-inline: 20px;
      width: 160px;
      height: 42px;
      color: #FCFDFE;
      box-shadow: 0px 4px 10px rgba(16, 156, 241, 0.24);
      border-radius: 4px;
    }
    
    .new-note-btn:hover{
      /* background-color: #F24913;
      border-color: #F24913; */
      box-shadow: 0px 2px 5px black;
      color: white;
    }
    
    .content {
      width: 90%;
      margin: auto;
      background:white;
      margin-top: 20px;
      padding: 35px;
      align-items: center;
      z-index: 1;
      border-radius: 15px;
    }
    
    .content-data {
      width: 100%;
      margin: auto;
      background-color:white;
      margin-top: 20px;
      padding: 10px;
      align-items: center;
      z-index: 1;
      border-radius: 2.5%;
    }
    
    .new-campaign-btn{
      background-color: #F24913;
      margin: auto;
      margin-inline: 20px;
      width: 160px;
      height: 42px;
      color: #FCFDFE;
      box-shadow: 0px 4px 10px rgba(16, 156, 241, 0.24);
      border-radius: 4px;
    }
    
    .new-campaign-btn:hover{
      /* background-color: #F24913;
      border-color: #F24913; */
      box-shadow: 0px 2px 5px black;
      color: white;
    }
    
    
    .title{
      text-align: left;
      padding: 1%;
    }
    
    .text{
      text-align: center;
    }
    
    .custom-file-upload {
      background-color: #9FA2B4;
      border: 1px solid #ccc;
      display: inline-block;
      padding: 6px 12px;
      cursor: pointer;
    }
    
    .footer{
      
    }
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    nav {
      height: 100%;
      width: 70px;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #005030;
      overflow-x: hidden;
      padding-top: 20px;
    }
    .form {
      margin-left: 90px;
      margin-top: 50px;
    }
    .regform {
      width: 380px;
      margin: auto;
      background-color:white;
      margin-top: 50px;
      padding: 35;
      align-items: center;
      z-index: 1;
      border-radius: 2.5%;
  }
  .btn {
    background-color: #027931;
    border-color: #027931;
    margin: 1%;
    margin-bottom: 10px;
    width: 100%;
    height: 48px;
    color: white;
    box-shadow: 0px 4px 12px #c9c9cb;
    border-radius: 10;
  
  }
    
    .form-label{
      color: #9FA2B4;
      font-size: 14px;
      /* font-family: mulish; */
    }
    
    .form-control{
    width: 316px;
    height: 42px;
    background: #F0F1F7;
    }
    
    /* custom classes */
    
    .centre {
      text-align: center;
    }

    .new-note-btn{
      background-color: #21B499;
      margin: auto;
      margin-inline: 20px;
      width: 160px;
      height: 42px;
      color: #FCFDFE;
      box-shadow: 0px 4px 10px rgba(16, 156, 241, 0.24);
      border-radius: 4px;
    }
    
    .new-note-btn:hover{
      /* background-color: #F24913;
      border-color: #F24913; */
      box-shadow: 0px 2px 5px black;
      color: white;
    }
    
    .content {
      width: 90%;
      margin: auto;
      background:white;
      margin-top: 20px;
      padding: 20px;
      align-items: center;
      z-index: 1;
      border-radius: 15px;
    }
    
    .content-data {
      width: 100%;
      margin: auto;
      background-color:white;
      margin-top: 20px;
      padding: 10px;
      align-items: center;
      z-index: 1;
      border-radius: 2.5%;
    }
    
    .new-campaign-btn{
      background-color: #F24913;
      margin: auto;
      margin-inline: 20px;
      width: 160px;
      height: 42px;
      color: #FCFDFE;
      box-shadow: 0px 4px 10px rgba(16, 156, 241, 0.24);
      border-radius: 4px;
    }
    
    .new-campaign-btn:hover{
      /* background-color: #F24913;
      border-color: #F24913; */
      box-shadow: 0px 2px 5px black;
      color: white;
    }

    .text-large{
      font-size: 14px;
    }

    .text-med{
      font-size: 12px;
    }
    
    
  }