<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../css/card.css">
    </head>
    <body>
        <div class='card'>
            <p> 
                Note id: <%- note_id %>
                <br>
                User id: <%- user_id %>
                <br>
                User: <%- username %>
                <br>
                Email: <%- email %>
                <br> 
                <a href="'/admin/' + filename">Download CSV</a>
            </p>
        </div>
    </body>
</html>