<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../css/card.css">
    </head>
    <body>
        <div class='card'>
            <h1>
                Note id: <%- note.note_id %>
                <br>
                User id: <%- note.user_id %>
                <br>
                User: <%-  await userController.getUserFromID(note.user_id).username %>
            </h1>
        </div>
    </body>
</html>